<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome!</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper navbar-fixed grey lighten-5">
                <a href="{%url 'home'%}" class="brand-logo center black-text text-darken-2">Instagram</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                <li class="black-text text-darken-2" style="margin-right:30px;">{{user.username}}님 환영합니다!</li>
                <li><a href="{%url 'new'%}" class="black-text text-darken-2" style="margin-right:30px;">New Post</a></li>
                
                <li><a href="{% url 'logout' %}" class="black-text text-darken-2" style="margin-right:30px;">로그아웃</a></li> 
                {% else %}
                <li><a href="{% url 'about' %}" class="black-text text-darken-2" style="margin-right:30px;">About</a></li>
                <li><a href="{% url 'login' %}" class="black-text text-darken-2" style="margin-right:30px;">Sign in</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </div>
    


    <script type="text/javascript" src="js/materialize.min.js"></script>

    {% block contents %}
    {% endblock %}
</body>
</html>